body {
  font-family: Arial;
  padding: 20px;
  background: #f4f6f9;
}

h2 {
  text-align: center;
}

form {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  background: #2d6cdf;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  margin-top: 20px;
  width: 100%;
  background: white;
}
#dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
#dashboard div {
  background: #2d6cdf;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
